body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;

}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #646d80;
    border-bottom: 10px solid #131318;
    color: #f7f0f0;
    border-radius: 10px;
}
